.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar-section{
    width: 50%;
    margin: 3rem 10rem;
}
.searchLabel{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.autoCompleteSearchLabel{
    font-size: 1.8rem;
    margin: 1rem;
}