<div class="container">
    <form>
        <div class="mb-3">
            <label for="sign_in_email" class="form-label">Username or email</label>
            <input type="text" class="form-control" id="sign_in_email" >
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="d-flex justify-content-center my-3">
            <button type="submit" class="btn btn-primary w-50">Submit</button>
        </div>
    </form>
</div>