<div class="container text-center my-4 py-4">
    <div class="row">
        <div class="col-md-6">
            <div class="connect_container">
                <div class="connect_header_container">
                    <h4 class="connect_title">The Oasis Travel Experience</h4>
                    <p class="connect_text">At Oasis Travel it’s the people who make a difference. Our travel experts
                        craft the perfect trip for every traveler through our award-winning customer service. Real
                        people
                        helping real people. Beside you every step of the way.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="connect_by_phone_container d-flex flex-column align-items-center px-3">
                <div class="phone_icon d-flex">
                    <i class="bi bi-telephone-fill fs-3 me-2" style="color: rgb(180, 62, 15)"></i>
                    <p>Connect By <br> Phone</p>
                </div>
                <div class="phone_link">
                    <a href="tel:1-888-343-2128" class="link-underline link-underline-opacity-0 text-danger">
                        1-888-343-2128
                    </a>
                </div>
            </div>
            <div class="connect_by_email d-flex flex-column align-items-center px-3">
                <div class="email_icon d-flex">
                    <i class="bi bi-envelope-fill fs-3 me-2" style="color: rgb(180, 62, 15)"></i>
                    <p>Connect By<br> Email</p>
                </div>
                <div class="email_link">
                    <a href="mailto:oasis@travel.com" class="link-underline link-underline-opacity-0 text-danger">
                        oasis&#64;travel.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>