<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" style="margin-right: 0.6rem;" />
    </ng-template>
    <ng-template pTemplate="end">
        <!-- <a href="tel:1-888-343-2128" icon= style="text-decoration: none;">1-888-343-2128</a> -->
        <div class="card" style="display: flex; justify-content: center; align-items: center;">
            <p-button label="Sign In" icon="pi pi-user" size="small" severity="info"></p-button>
        </div>
    </ng-template>
</p-menubar>