<div class="container text-center">
    <h3 class="text-center">Our Latest Update</h3>
    <div class="row">
        <div class="col-md-6 my-2">
            <div class="position-relative">
                <img src="../../../assets/mexico_610x305_6.jpg" class="img-fluid" alt="Mexico Extravaganza">
                <div class="update_text position-absolute bottom-0 px-3 py-2 w-75 d-flex justify-content-start">
                    <h4 class="text-white mb-0">Mexico Extravaganza</h4>
                </div>
                <div class="offer_btn position-absolute bottom-0 end-0 px-3 py-2">
                    <a href="#" class="btn btn-sm btn-outline-light">View Offer</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-2">
            <div class="position-relative">
                <img src="../../../assets/aic_hotel_610x305_rev.jpg" class="img-fluid" alt="">
                <div class="update_text position-absolute bottom-0 px-3 py-2 w-75 d-flex justify-content-start">
                    <h4 class="text-white mb-0">Savings up to 50%* at AIC Hotel Group</h4>
                </div>
                <div class="offer_btn position-absolute bottom-0 end-0 px-3 py-2">
                    <a href="#" class="btn btn-sm btn-outline-light">View Offer</a>
                </div>
            </div>
        </div>
    </div>
</div>