<div class="container text-center my-5">
    <div class="row align-items-start">
        <div class="col-sm-12 col-xl-8">
            <div class="intro_image">
                <img [src]="'assets/'+introImage" alt="" srcset="" width="">
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <div class="paragraph_text_container">
                <h3 class="my-3">{{introTitle}}</h3>
                <div class="paragraph_text pt-2">
                    <p class="text-start font-monospace">{{introText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
