<div class="container text-center">
    <div class="row align-items-start">
        <div class="col-sm-12 col-md-8">
            <div class="intro_image">
                <img src="../../assets/Family Image-838x557.jpg" alt="" srcset="" width="">
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="paragraph_text_container">
                <h3>Vacation Packages: Connecting You and the Destination</h3>
                <div class="paragraph_text">
                    <p>When it comes to vacations, there are as many ways to explore the world as there are people on it. Our family, honeymoon, or adults-only vacations connect you with each other and your destination. If you want it all, our all-inclusive or luxury vacations have you covered at some of the world&#39;s most popular resorts. Do more with our casino or golf and spa vacations. Take a journey with our exotic vacations. Whether you&#39;re planning a cruise or a last-minute break to your favorite city—your Liberty Travel vacation consultant can match you with a vacation package that&#39;s just your style.</p>
                </div>
            </div>
        </div>
    </div>
</div>