<div class="container text-center">
    <div class="deal_details_section">
        <div class="deal_intro_section d-flex flex-column flex-lg-row gap-3">
            <div class="intro_image w-100 mt-3">
                <img class="w-100" src="https://oms2.libertytravel.com/sites/default/files/styles/offer_image/public/Hyatt%20Zilara%20Cancun%20-%20new%20oms.jpg" alt="" >
            </div>
            <div class="intro_details mt-3 px-3 py-2 d-flex flex-column justify-content-md-center border border-subtle-secondary">
                <h3>Hyatt Zilara Cancun | Air & Vacation Package</h3>
                <p>Cancun, Mexico</p>
                <p>4 nights from $1365</p>
                <p>Offer ID:70886 • Exp: 3/31/2024</p>
                <p>The price above is for travel from October 7 - 11, 2024. Call 1-888-343-2128 to connect with a travel expert.</p>
                <div class="inquire_section">
                    <button class="btn btn-danger w-75">Inquire</button>
                </div>
            </div>
            <div class="deal_features">
                <div class="vacation_highlights">
                    <h3>Vacation Highlights</h3>
                    <ul>
                        <li>Round-trip airfare</li>
                        <li>4 nights all-inclusive hotel accommodations</li>
                        <li>Hotel transfers</li>
                        <li>Hotel tax</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>