<app-page-intro-section [introImage]="introImage" [introTitle]="introTitle"
    [introText]="introText"></app-page-intro-section>
<div class="at_a_glance">
    <div class="d-flex flex-md-row flex-sm-column-reverse justify-content-center" style="background-color: #edeff2;">
        <div class="col-md-6">
            <div class="at_a_glance_content ps-4 py-4 pe-5 text-start">
                <h3 class="mb-1">At a Glance</h3>
                <div class="w-25 mb-2 bg-danger rounded" style="height: 0.4rem;"></div>
                <p>With its pristine beaches, lush tropical jungles, and vibrant nightlife, Cancun is a top destination for
                    travelers of all ages. Whether you’re looking to relax on the beach, explore the area’s ancient ruins,
                    or dance the night away, Cancun has something for everyone. </p>
                <p>Located on the Yucatan Peninsula, Cancun is a popular destination for travelers looking to experience
                    Mexico’s rich history and culture. The area is home to a number of ancient Mayan ruins, including the
                    famous Chichen Itza, which is one of the New Seven Wonders of the World. </p>
                <p>When you’re not exploring the area’s ancient ruins, you can relax on one of Cancun’s many beautiful
                    beaches. The area is home to some of the most stunning beaches in the world, with crystal-clear waters
                    and soft white sand. </p>
                <p>After a day of sunbathing and swimming, you can head to Cancun’s famous Hotel Zone, where you’ll find
                    some of the area’s best restaurants, bars, and nightclubs. The Hotel Zone is also home to a number of
                    luxury resorts, where you can relax and unwind in style. </p>
                <p>Whether you’re looking for adventure, relaxation, or a little bit of both, Cancun has something for
                    everyone. With its beautiful beaches, rich history, and vibrant nightlife, it’s no wonder that Cancun
                    is one of the most popular travel destinations in the world. </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="map_image h-100">
                <img class="w-100 h-100" src="https://www.libertytravel.com/sites/default/files/styles/full_size/public/cancun-m.jpg" alt="" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
<div class="things_to_do">
    <div class="d-flex flex-md-row-reverse flex-sm-column-reverse justify-content-center" style="background-color: #edeff2;">
        <div class="col-md-6">
            <div class="at_a_glance_content ps-4 py-4 pe-5 text-start">
                <h3 class="mb-1">At a Glance</h3>
                <div class="w-25 mb-2 bg-danger rounded" style="height: 0.4rem;"></div>
                <p>With its pristine beaches, lush tropical jungles, and vibrant nightlife, Cancun is a top destination for
                    travelers of all ages. Whether you’re looking to relax on the beach, explore the area’s ancient ruins,
                    or dance the night away, Cancun has something for everyone. </p>
                <p>Located on the Yucatan Peninsula, Cancun is a popular destination for travelers looking to experience
                    Mexico’s rich history and culture. The area is home to a number of ancient Mayan ruins, including the
                    famous Chichen Itza, which is one of the New Seven Wonders of the World. </p>
                <p>When you’re not exploring the area’s ancient ruins, you can relax on one of Cancun’s many beautiful
                    beaches. The area is home to some of the most stunning beaches in the world, with crystal-clear waters
                    and soft white sand. </p>
                <p>After a day of sunbathing and swimming, you can head to Cancun’s famous Hotel Zone, where you’ll find
                    some of the area’s best restaurants, bars, and nightclubs. The Hotel Zone is also home to a number of
                    luxury resorts, where you can relax and unwind in style. </p>
                <p>Whether you’re looking for adventure, relaxation, or a little bit of both, Cancun has something for
                    everyone. With its beautiful beaches, rich history, and vibrant nightlife, it’s no wonder that Cancun
                    is one of the most popular travel destinations in the world. </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="map_image h-100">
                <img class="w-100 h-100" src="https://www.libertytravel.com/sites/default/files/styles/full_size/public/cancun-m.jpg" alt="" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>