<div class="container">
    <form [formGroup]="signUpForm" (ngSubmit)="handelSignUp()">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <div *ngIf="signUpForm.controls['username'].touched && signUpForm.controls['username'].dirty">
                <span class="text-danger" *ngIf="signUpForm.controls?.['username']?.errors?.['required']">Username is
                    required</span>
                <span class="text-danger" *ngIf="signUpForm.controls?.['username']?.errors?.['minlength']">Username must
                    be at least 3 characters long</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="sign_up_email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="sign_up_email" formControlName="email">
            <div id="emailHelp" *ngIf="!signUpForm.controls?.['email']?.errors && signUpForm.controls['email'].touched"
                class="form-text">We'll never share your email with anyone else.</div>
            <div *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].dirty">
                <span class="text-danger" *ngIf="signUpForm.controls?.['email']?.errors?.['required']">Email is
                    required</span>
                <span class="text-danger" *ngIf="signUpForm.controls?.['email']?.errors?.['email']">Invalid email
                    address</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].dirty">
                <span class="text-danger" *ngIf="signUpForm.controls?.['password']?.errors?.['required']">Password is
                    required</span>
                <span class="text-danger"
                    *ngIf="!signUpForm.controls?.['password']?.errors?.['required'] && signUpForm.controls?.['password']?.errors?.['invalidPassword']">{{signUpForm.controls['password'].errors?.['invalidPassword']['value']}}</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="retype_password" class="form-label">Retype password</label>
            <input type="password" class="form-control" id="retype_password" formControlName="retype_password">
            <div *ngIf="signUpForm.controls['retype_password'].touched && signUpForm.controls['retype_password'].dirty">
                <span class="text-danger" *ngIf="signUpForm.controls?.['retype_password']?.errors?.['required']">Type
                    above password again </span>
                <span class="text-danger"
                    *ngIf="!signUpForm.controls?.['retype_password']?.errors?.['required'] && signUpForm.controls?.['retype_password']?.errors?.['passwordNotMatch']">Mismatch
                    password</span>
            </div>
        </div>
        <div class="d-flex justify-content-center my-3">
            <button type="submit" class="btn btn-primary w-50" [disabled]="signUpForm.invalid">
                <span role="status">Submit</span>
                <span class="ms-1 spinner-border spinner-border-sm" aria-hidden="true" *ngIf="showSubmitBtnSpinner"></span>
            </button>
        </div>
    </form>
</div>