<div class="container">
    <div class="deal_details_section">
        <div class="row my-3">
            <div class="col-lg-8 mt-3">
                <div class="intro_image ">
                    <img class="w-100"
                        [src]="'https://oasis-image.blr1.cdn.digitaloceanspaces.com/'+dealDetails.image.file_path"
                        alt="">
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div
                    class="intro_details h-100 px-3 py-2 d-flex flex-column justify-content-md-center border border-subtle-secondary text-center">
                    <h4>{{dealDetails.title}}</h4>
                    <p><span>{{dealDetails.destinations[0].destination_name}}</span>,
                        <span>{{dealDetails.destinations[0].parent}}</span></p>
                    <p><span>{{dealDetails.trip_dates.los}}&nbsp;</span><span>{{dealDetails.trip_dates.los_units}}</span>
                        from <span>{{dealDetails.price.total_price | currency : 'USD' : 'symbol-narrow' :
                            '4.0-0'}}</span></p>
                    <p>Offer ID:<span>{{dealDetails.deal_id}}</span> • Exp:
                        <span>{{dealDetails.offer_publish.expire}}</span></p>
                    <p>The price above is for travel from {{dealDetails.trip_dates.date_range}}. Call <a
                            href="tel:1-888-343-2128">1-888-343-2128</a> to connect with a
                        travel expert.</p>
                    <div class="inquire_section pb-3">
                        <button class="btn btn-danger w-75">Inquire</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-lg-8 py-4">
                <div class="deal_features">
                    <div class="vacation_highlights border-bottom border-2 my-3">
                        <h4>Vacation Highlights</h4>
                        <ul class="ps-0" style="list-style: none;">
                            <li>Round-trip airfare</li>
                            <li>4 nights all-inclusive hotel accommodations</li>
                            <li>Hotel transfers</li>
                            <li>Hotel tax</li>
                        </ul>
                    </div>
                    <div class="special_notes border-bottom border-2 my-3">
                        <h4>Special Notes</h4>
                        <div [innerHTML]="dealDetails.special_notes"></div>
                    </div>
                    <div class="departure_cities border-bottom border-2 my-3">
                        <div class="row">
                            <h4>Other Departure Cities</h4>
                            <div class="col-12 col-md-6" *ngFor="let city of dealDetails.departure_cities">
                                <div class="d-flex justify-content-between">
                                    <p>{{city.city_name}}</p>
                                    <span>from {{city.total_price | currency : 'USD' : 'symbol-narrow' : '1.0-0'
                                        }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deal_info">
                        <h4 class="deal_name">{{dealDetails.hotels[0].name}}</h4>
                        <p class="deal_description my-3">{{dealDetails.hotels[0].description}}</p>
                        <h4>Amenities</h4>
                        <div class="all_amenities">
                            <div class="amenities_panel border-2 border-bottom border-success" *ngFor="let amenities of allAmenities">
                                <p class="gap-1 w-100 mb-1">
                                    <a class="w-100 py-2 d-inline-flex justify-content-between link-underline link-underline-opacity-0 text-danger"
                                        data-bs-toggle="collapse" [routerLink]="[]" fragment="" attr.data-bs-target="#{{amenities.id}}" role="button"
                                        aria-expanded="false" attr.aria-controls="{{amenities.id}}" (click)="showCorrectSymbol(amenities.id)">
                                        <div class="amenities_panel_text">{{amenities.type}}</div>
                                        <i class="bi" ngClass="{{currentAmenitiesId === amenities.id ? currentClassName : 'bi-chevron-down'}}" style="cursor: pointer;" ></i>
                                    </a>
                                </p>
                                <div class="collapse" [id]="amenities.id">
                                    <p>
                                        Some placeholder content for the collapse component. This panel is hidden by
                                        default
                                        but revealed when the user activates the relevant trigger.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="check_in_info my-3">
                        <h4 class="my-1">Information</h4>
                        <ul class="ps-0" style="list-style: none;">
                            <li>Check in: {{checkInTime}}</li>
                            <li>Check out: {{checkOutTime}}</li>
                            <li><span>{{dealDetails.hotels[0].rooms}}</span> rooms</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>