<div class="container">
    <div class="deal_details_section">
        <div class="row my-3">
            <div class="col-lg-8 mt-3">
                <div class="intro_image w-100">
                    <img class="w-100 h-100"
                        src="https://oms2.libertytravel.com/sites/default/files/styles/offer_image/public/Hyatt%20Zilara%20Cancun%20-%20new%20oms.jpg"
                        alt="">
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div
                    class="intro_details h-100 px-3 py-2 d-flex flex-column justify-content-md-center border border-subtle-secondary text-center">
                    <h4>Hyatt Zilara Cancun | Air & Vacation Package</h4>
                    <p>Cancun, Mexico</p>
                    <p>4 nights from $1365</p>
                    <p>Offer ID:70886 • Exp: 3/31/2024</p>
                    <p>The price above is for travel from October 7 - 11, 2024. Call 1-888-343-2128 to connect with a
                        travel expert.</p>
                    <div class="inquire_section pb-3">
                        <button class="btn btn-danger w-75">Inquire</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-lg-8 py-4">
                <div class="deal_features">
                    <div class="vacation_highlights border-bottom border-2 my-3">
                        <h4>Vacation Highlights</h4>
                        <ul class="ps-0" style="list-style: none;">
                            <li>Round-trip airfare</li>
                            <li>4 nights all-inclusive hotel accommodations</li>
                            <li>Hotel transfers</li>
                            <li>Hotel tax</li>
                        </ul>
                    </div>
                    <div class="special_notes border-bottom border-2 my-3">
                        <h4>Special Notes</h4>
                        <div>
                            <p><strong>SAVE</strong> up to 45% at Playa Hotels &amp; Resorts </p>
                            <p><strong>ENJOY</strong> My Time extra amenities &amp; exclusive benefits during your stay
                            </p>
                            <p><strong>EXPERIENCE</strong> traditional Mexican warmth in an intimate setting on the
                                Caribbean
                                Sea</p>
                            <p><strong>RELAX </strong>in Adult Only, All-inclusive Luxury in Cancun's Hotel Zone</p>
                        </div>
                    </div>
                    <div class="departure_cities border-bottom border-2 my-3">
                        <div class="row">
                            <h4>Other Departure Cities</h4>
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <p>New York City, NY</p>
                                    <span>from $1365</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Philadelphia, PA</p>
                                    <span>from $1385</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Chicago, IL</p>
                                    <span>from $1389</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <p>Boston, MA</p>
                                    <span>from $1365</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Miami, FL</p>
                                    <span>from $1385</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deal_info">
                        <h4 class="deal_name">Hyatt Zilara Cancun</h4>
                        <p class="deal_description my-3">An oceanfront resort exclusively for adults. Here, swim-up
                            suites lead to an Infinity pool, a tequilasommelier teaches the art of sipping Mexico's
                            traditional spirit, and a pool party creates an energetic vibe.With a vast selection of
                            superb dining options and unparalleled accommodations, Hyatt Zilara Cancunoffers everything
                            you would expect from an all-inclusive resort and so much more.</p>
                        <h4>Amenities</h4>
                        <div class="all_amenities">
                            <div class="amenities_panel">
                                <p class="gap-1 w-100 mb-1">
                                    <a class="w-100 d-inline-flex justify-content-between" data-bs-toggle="collapse"
                                        href="/#collapseExample" role="button" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        <div class="amenities_panel_text">Property Features</div>
                                        <i class="bi bi-chevron-down" style="cursor: pointer;"></i>
                                        <i class="bi bi-chevron-up" style="cursor: pointer;"></i>
                                    </a>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        Some placeholder content for the collapse component. This panel is hidden by
                                        default
                                        but revealed when the user activates the relevant trigger.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="check_in_info border-top border-bottom border-2 my-3">
                        <h4 class="my-1">Information</h4>
                        <ul class="ps-0" style="list-style: none;">
                            <li>Check in: 3:00 PM</li>
                            <li>Check out: 12:00 PM</li>
                            <li>307 rooms</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>