<div class="container text-center my-4 py-4">
    <div class="favorite_field_header">
        <h3>Traveler Favorites</h3>
        <p  class="my-3">Need help deciding where to go next? Take a look at some of our travelers’s recommended vacations.</p>
    </div>
    <div class="row">
        <div class="col-md-4 my-2" *ngFor="let deal of favoriteDeals">
            <div class="card h-100">
                <img [src]="'https://oasis-image.blr1.cdn.digitaloceanspaces.com/'+deal.image" class="card-img-top" [alt]="deal.title">
                <div class="card-body text-white" style="background-color: #263374;">
                    <a routerLink="vacations/deals/{{deal.name}}/{{deal.code}}" class="link-underline-dark link-underline-opacity-0 text-white">
                        <div class="homepage_offer d-flex justify-content-between flex-row flex-sm-column">
                            <div class="homepage_offer_destination d-flex px-3 align-items-center justify-content-center">
                                <div class="city text-uppercase fs-4">{{deal.destination[0].name}}</div>
                            </div>
                            <div class="home_page_offer_info d-flex px-3 flex-column">
                                <div class="title"><span>{{deal.title}}</span></div>
                                <div class="los"><span>{{deal.length_of_stay}}</span>&nbsp;<span>{{deal.los_units}}</span></div>
                                <div class="price">from {{deal.advertsied_price | currency : 'USD' : 'symbol-narrow' : '1.0-0'}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>