<div class="container text-center my-4 py-4">
    <div class="favorite_field_header">
        <h3>Traveler Favorites</h3>
        <p  class="my-3">Need help deciding where to go next? Take a look at some of our travelers’s recommended vacations.</p>
    </div>
    <div class="row">
        <div class="col-md-4 my-2">
            <div class="card h-100">
                <img src="assets/rivera_maya.jpg" class="card-img-top" alt="...">
                <div class="card-body text-white" style="background-color: #263374;">
                    <a href="" class="link-underline-dark link-underline-opacity-0 text-white">
                        <div class="homepage_offer d-flex justify-content-between">
                            <div class="homepage_offer_destination d-flex px-3 align-items-center">
                                <div class="city text-uppercase ">Rivera Maya</div>
                            </div>
                            <div class="home_page_offer_info d-flex px-3 flex-column">
                                <div class="title">Hotel Xcaret Arte | Air &amp; Vacation Package</div>
                                <div class="los">4 nights</div>
                                <div class="price">from $1,915</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="card h-100">
                <img src="assets/barmuda.jpg" class="card-img-top" alt="...">
                <div class="card-body text-white" style="background-color: #0ba8e0;">
                    <a href="" class="link-underline-dark link-underline-opacity-0 text-white">
                        <div class="homepage_offer d-flex justify-content-between">
                            <div class="homepage_offer_destination d-flex px-3 align-items-center">
                                <div class="city text-uppercase">Bermuda</div>
                            </div>
                            <div class="home_page_offer_info d-flex px-3 flex-column">
                                <div class="title">Bermuda | Celebrity Eclipse </div>
                                <div class="los">7 nights</div>
                                <div class="price">from $935</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <div class="card h-100">
                <img src="assets/malta.jpg" class="card-img-top" alt="...">
                <div class="card-body text-white" style="background-color: #cc242a;">
                    <a href="" class="link-underline-dark link-underline-opacity-0 text-white">
                        <div class="homepage_offer d-flex justify-content-between">
                            <div class="homepage_offer_destination d-flex px-3 align-items-center">
                                <div class="city text-uppercase">Malta</div>
                            </div>
                            <div class="home_page_offer_info d-flex px-3 flex-column">
                                <div class="title">Old World Sicily &amp; Malta | Collette Tours</div>
                                <div class="los">11 nights</div>
                                <div class="price">from $3,499</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>