<div class="container px-4 text-center my-5">
    <div class="row gx-5">
        <div class="col-sm-6 col-md-4">
            <a href=""
                class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-50-hover text-dark">
                <div class="p-3 d-flex flex-column">
                    <div class="image-container">
                        <img src="../../../assets/value.png" alt="value">
                    </div>
                    <div class="commitment_title">
                        <h2>Value</h2>
                    </div>
                    <div class="commitment_text">
                        <p>Irresistible rates, offers &amp; benefits</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="p-3 d-flex flex-column">
                <a href=""
                    class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-50-hover text-dark">
                    <div class="image-container">
                        <img src="../../../assets/peace-of-mind.png" alt="value">
                    </div>
                    <div class="commitment_title">
                        <h2>Peace of mind</h2>
                    </div>
                    <div class="commitment_text">
                        <p>Reassurance to book with confidence</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="p-3 d-flex flex-column">
                <a href=""
                    class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-50-hover text-dark">
                    <div class="image-container">
                        <img src="../../../assets/service.png" alt="value">
                    </div>
                    <div class="commitment_title">
                        <h2>Service</h2>
                    </div>
                    <div class="commitment_text">
                        <p>Beside you every step of the way</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>